ToolButtonBase {
	text-align: center;
	/*color: rgb(0, 0, 0);*/
	background-color: transparent;
	padding-top: 3px;
	padding-left: 6px;
	padding-bottom: 3px;
	padding-right: 6px;
	border-width: 1.2px;
	border-radius: 6px;
	border-style: solid;
	border-color: rgba(201, 210, 222, 123);
}
ToolButtonBase:hover {
	border-color: rgba(201, 210, 222, 210);
}


QToolTip {
    color: rgb(210, 222, 234);
    background-color: transparent;
	border-width: 0px;
	border-style: solid;
}