# Client assets
**/*.ui
**/*.ts
**/*.qm
**/*.qrc
**/*.png
**/*.ico

# Generated contents
**/__pycache__/
*/config/
*/models/
*/log.txt

# Built contents
**/*.build/
**/*.dist/

# Others
**/.vscode/
**/*.spec
**/*.ipynb