[submodule "EVT_Core/AudioProcessor"]
	path = EVT_Core/AudioProcessor
	url = https://github.com/Spr-Aachen/EVT-Core-AudioProcessor

[submodule "EVT_Core/VPR"]
	path = EVT_Core/VPR
	url = https://github.com/Spr-Aachen/EVT-Core-VPR

[submodule "EVT_Core/Whisper"]
	path = EVT_Core/Whisper
	url = https://github.com/Spr-Aachen/EVT-Core-Whisper

[submodule "EVT_Core/GPT-SoVITS"]
	path = EVT_Core/GPT_SoVITS
	url = https://github.com/Spr-Aachen/EVT-Core-GPT-SoVITS

[submodule "EVT_Core/VITS"]
	path = EVT_Core/VITS
	url = https://github.com/Spr-Aachen/EVT-Core-VITS