# Client assets
**/*.qrc
**/*.ui
**/*.png
**/*.ico
**/sources.py

# Generated contents
**/__pycache__/
*/config/
*/models/
*/log.txt

# Built contents
**/build/
**/dist/

# Others
**/.vscode/
**/*.spec
**/*.ipynb