# _*_ coding:utf-8 _*_


# Tool_AudioProcessor
librosa
ipywidgets


# Tool_VoiceIdentifier
numpy
visualdl
pyaudio
torchsummary


# Tool_VoiceTranscriber
more-itertools
transformers
ffmpeg-python


# Tool_DatasetCreator
pydub
soundfile
num2words


# Tool_VoiceTrainer
numba
scipy
matplotlib
protobuf
tensorboard
inflect
unidecode
eng_to_ipa
pypinyin
jieba
cn2an
#opencc
#pyopenjtalk